<div class="mt-4">
    <h3 class="text-big display-center">Tạo Nguyên Liệu</h3>
    <form method="POST" action="/admin/ingredient/stored">
        <div class="form-group">
            <label class="text mt-4" for="name">Tên Nguyên Liệu</label>
            <input type="text" class="form-control" id="ingredientName" name="name" placeholder="Enter name of ingredient" required>
        </div>
        <div class="form-group">
            <label class="text mt-4" for="price">Giá</label>
            <input type="number" class="form-control" id="ingredientPrice" name="price" placeholder="Enter price of ingredient" required>
        </div>
        <div class="form-group">
            <label class="text mt-4" for="quantity">Số Lượng</label>
            <input type="number" class="form-control" id="ingredientQuantity" name="quantity" placeholder="Enter quantity of ingredient" required>
        </div>
        <div class="form-group">
            <label class="text mt-4" for="img">Hình Ảnh</label>
            <input type="text" class="form-control" id="ingredientImg" name="img" placeholder="Enter image URL of ingredient" required>
        </div>
        <div class="form-group">
            <label class="text mt-4" for="expiryDate">Ngày Hết Hạn</label>
            <input type="date" class="form-control" id="expiryDate" name="expiryDate" min="" required >
        </div>
        <button type="submit" class="btn btn-primary background-color mt-4 text-color">Thêm Nguyên Liệu</button>
    </form>
</div>
<script>
    document.getElementById('expiryDate').setAttribute('min', new Date().toISOString().split('T')[0]);
</script>