@import 'variables';
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}
header{
    width: 100vw;
}
.header {
    width :100vw;
    display: flex;
    background-color: $bg-color;
}

.logo{
    margin-left:30px ;
}

.img-logo {
     width: 70px ;
     height: auto;
 }
 

.cotainer-menu {
    width :100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-user {
    margin:2px 80px 0 0 ;
}

.container-user__cart {
    display: flex;
    justify-content: center;
    align-items: center;
   

}

.container-user__cart i{
    margin-right: 40px;
    font-size: 24px;
    color: $text-color;
}

.user-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin:-4px 8px 0 0;
}

.container-user--logout{
    font-size: 24px;
    margin-top: 4px;
}


.container-user--logout i {
    color: $text-color;
}
.container-user--logout i:hover{
    cursor: pointer;
    color: #0d6efd;
}
// .nav-link:hover {
//     background-color: $text-color;
//     border-radius: 20px;
// }

//hide menu-cate
.nav-item-menu{
    position: relative;
    display: flex;
}
.nav-item-icon {
    margin: 12px 0 0 -4px;
}
.nav-menu{
    top:42px;
    height: 160px;
    width: 140px;
    display: none;
    background-color: $bg-color;
    position: absolute;
    padding: 0px;
    border-radius: 10px;
    padding-top: 14px;
    z-index: 10000;
}

.nav-menu-item {
    list-style: none;
    padding-left: 20px;
    display: flex;
}
.nav-menu-item i {
    margin-top: 8px;
    color: $text-color;
}
.nav-menu-item:hover{
   margin-left: 10px;
}
.nav-menu li a {
    display: block;
    text-decoration: none;
    color: $text-color;
    
    padding: 6px;
}
.nav-item-menu:hover .nav-menu{
    display: block;
}
//  product
.container-cate{
   
}
 .cate {
    
 }
.cate-heading {
    display: block;
}
.cate-heading p {
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.cate ul {
    list-style: none;
}
.cate-item {
    position: relative;
    
}


.cate-item::after{
    content: "";
    border-top: 1px solid $bg-color;
    position: absolute;
    top: 50px;
    left: 10px;
    right: 100px;
}
.cate-item a {
    text-decoration: none;
    color: $text-color; 
    font-weight: bold; 
    transition: color 0.3s;
    font-size: 25px;
    padding: 0 0 0 20px;
}
.cate-item a:hover {
     margin-left: 10px;
     color: $bg-color;
}
.cate-item a:active {
    color: $bg-color;
}

.type-item {
    font-size: 25px;
    color: $text-color;
}
.card{
    --bs-card-border-width: none;
}
.card-container {
    width: 200px;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    background-color: white;
}
.card-img {
    
    
}

.card-img img {
    width: 100%;
    height: 300px;
    object-fit: contain;
}
.card-text {
    padding: 5px 10px;
}
.card__cart {
    cursor: pointer;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 10px;
    margin: 0 15px 15px 15px;
    padding: 6px;
}

.card__cart-icon{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 4px;
}
.card__cart-text{
    margin: 5px 0;
    text-decoration: none;
}
.card-text p {

}
.cate {

}

// form tao menu
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}
.form-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    width: 100%;
}
.form-control-date {
    width: 30%;
}

// btn-sua , btn-xoa
.btn-repair {
    background-color: $text-color;
}
.btn-repair a {
    text-decoration: none;
    color: $bg-color;
}
.btn-delete {
    background-color: $bg-color;
}
.btn-delete a{
    text-decoration: none;
    color: $text-color;
}

// contact
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader {
    border: 8px solid #f291a3;
    border-top: 8px solid #716df2;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.app {
    display: block; 
}
// lien he
.action-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  
  .action-button a {
    font-size: 16px;
    display: block;
    width: 50px;
    height: 50px;
    background-color: $bg-color;
    color: $text-color;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
    transition: all 0.3s ease;
  }
  
  .action-button a:hover {
    background-color: var(--hover-color);
  }
// slide
.container-slide {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 30px;
}

.container-slide__img {
    
}
.container-slide__img img {
    display: block;
    width: 100%;
    height: 400px;
    border-radius: 10px;
}
.icon_left {
    font-size: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0 ;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
    text-decoration: none;
}
.icon_right {
    font-size: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
    text-decoration: none;

}


.footer {
    
    background-color: var(--bg-color);
    color: $text-color;
    padding: 20px;
    text-align: center;
}

