//RESPONSIVE
@import 'variables';
@media only screen and (max-width: 768px) {

    //slide
    .container-slide__img img {
        display: block;
        width: 100%;
        height: 200px;
        border-radius: 10px;
    }

    //danh muc
    .cate-item::after {
        display: none;
        
    }

    .container-cate {
        height: 100px;
    }


    //danh muc san pham
    .text-big {
        font-size: 12px;
        color: #3d155e;
    }

    .text-big p {
        margin-bottom: 14px;
    }

    //end danh muc san pham


    //danh sach san pham

    .cate {
        font-size: 22px;
    }

    .cate ul {

        margin-bottom: 10px;
        padding-left: 10px;
    }

    .cate-item a {
        text-decoration: none;
        color: $text-color;
        font-weight: bold;
        transition: color 0.3s;
        font-size: 12px;
        padding: 0px;
        margin-bottom: 10px;

    }

    //end danh sach san pham

    //danh muc cafee

    .type-item {
        font-size: 20px;
        color: #3d155e;
        text-align: center;
        margin-left: 12px;
    }

    .type-item p {
        font-size: 14px;
    }

    //end danh muc cafee

    //card item

    .card-container {
        display: flex;
        width: 120px;
        height: 200px;
        border: 2px solid #ccc;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        margin-bottom: 10px;
        background-color: $bg-color;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 5px;
    }

    .card-img {

        border: 2px solid #ccc;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .card-img img {
        width: 115px;
        height: 79px;

        display: flex;
        align-items: center;
        justify-content: center;

    }



    .card-text {
        padding: 5px 10px;
    }

    //end card item

}

//tablet

@media only screen and (max-width: 1197px) {



    .container-cate {
        height: 100px;
    }


    //danh muc san pham
    .text-big {
        font-size: 12px;
        color: #3d155e;
    }

    .text-big p {
        margin-bottom: 14px;
    }

    //end danh muc san pham


    //danh sach san pham

    .cate {
        font-size: 22px;
    }

    .cate ul {

        margin-bottom: 10px;
        padding-left: 10px;
    }

    .cate-item a {
        text-decoration: none;
        color: $text-color;
        font-weight: bold;
        transition: color 0.3s;
        font-size: 12px;
        padding: 0px;
        margin-bottom: 10px;

    }

    //end danh sach san pham

    //danh muc cafee

    .type-item {
        font-size: 20px;
        color: #3d155e;
        text-align: center;
        margin-left: 12px;
    }

    .type-item p {
        font-size: 14px;
    }

    //end danh muc cafee

    //card item

    .card-container {
        display: flex;
        width: 120px;
        height: 200px;
        border: 2px solid #ccc;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        margin-bottom: 10px;
        background-color: $bg-color;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 5px;
    }

    .card-img {

        border: 2px solid #ccc;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .card-img img {
        width: 115px;
        height: 79px;

        display: flex;
        align-items: center;
        justify-content: center;

    }



    .card-text {
        padding: 5px 10px;
    }

    //end card item
    //fix danh má»¥c
    .cate-item::after {
        // content: "";
        // border-top: 1px solid #df6788;
        // position: absolute;
        // top: 30px;
        // left: -10px;
        // right: 100px;
        content: "";
        border-top: 1px solid #df6788;
        position: absolute;
        top: 30px;
        left: -10px;
        right: 83px;
    }

}
//   /* CSS  */
//    //reponsive header

//    @media screen and (min-width: 1000px){
//     .icon-bar{
//         display: none;
//     }
//    }
//    @media screen and (max-width: 768px) {
//     .container-menu ul.nav {
//       display: none;
//     }
  
  
//     .icon-bar {
//       display: flex;
//       justify-content: flex-end;
//       align-items: center;
//       padding: 10px;
//       cursor: pointer;
//     }
  
//     .icon-bar i {
//       font-size: 24px;
//     }
  
//     .responsive-menu {
//       display: block;
//     }
  
//     .responsive-menu ul {
//       list-style-type: none;
//       padding: 0;
//     }
  
//     .responsive-menu ul li {
//       padding: 10px;
//     }
  
//     .responsive-menu ul li a {
//       color: #000;
//       text-decoration: none;
//     }
//   }

//   /* CSS cho mobile */
//   // reponsive  trang da dang
//   @media (max-width: 767px) {
//     .table-responsive table thead {
//       display: none;
//     }
  
//     .table-responsive table tbody tr {
//       display: block;
//       margin-bottom: 20px;
//       border: 1px solid #ccc;
//       padding: 10px;
//     }
  
//     .table-responsive table tbody td {
//       display: block;
//       text-align:center;
//       padding-right: 100px;
//     }
  
//     .table-responsive table tbody td::before {
//       font-weight: bold;
//       content: attr(data-label);
//       display: inline-block;
//       width: 100px;
//     }
//   }