//RESPONSIVE
@import 'variables';
@media only screen and (max-width: 768px) {

    //slide
    .container-slide__img img {
        display: block;
        width: 100%;
        height: 200px;
        border-radius: 10px;
    }

    //danh muc

    .container-cate {
        height: 100px;
    }


    //danh muc san pham
    .text-big {
        font-size: 12px;
        color: #3d155e;
    }

    .text-big p {
        margin-bottom: 14px;
    }

    //end danh muc san pham


    //danh sach san pham

    .cate {
        font-size: 22px;
    }

    .cate ul {

        margin-bottom: 10px;
        padding-left: 10px;
    }

    .cate-item a {
        text-decoration: none;
        color: $text-color;
        font-weight: bold;
        transition: color 0.3s;
        font-size: 12px;
        padding: 0px;
        margin-bottom: 10px;

    }

    //end danh sach san pham

    //danh muc cafee

    .type-item {
        font-size: 20px;
        color: #3d155e;
        text-align: center;
        margin-left: 12px;
    }

    .type-item p {
        font-size: 14px;
    }

    //end danh muc cafee



    //Card item
    .card-container {
        width: 100%;
        grid-template-columns: none;
    }

    .card-img img {
        height: 130px;
    }

    .card-text {
        height: 50px;
    }
    //end card item




    //Footer

    .footer-container .row-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    //Trang about us
        // Element 1
    .about-us-element-1-container .row-1 .col-1 img, .about-us-element-1-container .row-3 .col-2 img  {
        width: 60% !important;
    }

    .about-us-element-1-container center {
        font-size: 50px !important;
        color: $text-color;
    }
        // Element 2
    .about-us-element-2-container .row-1 {
        flex-direction: column;
    }
    // Element 3
    .about-us-element-3-container {
        flex-direction: column;
        margin-bottom: 100px !important;
    }
    .about-us-element-3-container .col-1 {
       margin-bottom: 40px;
    }
    .about-us-element-3-container .col-2 {
        display: flex;
        justify-content: center;
    }
    .about-us-element-3-container .col-2 img {
        width: 70% !important;
    }
    //Element 4
    .about-us-element-4-container {
        flex-direction: column;
        margin-top: 30px !important;
    }
    .about-us-element-4-container .col-1 {
       margin-bottom: 40px;
    }
    .about-us-element-4-container .col-1 {
        display: flex;
        justify-content: center;
    }
    .about-us-element-4-container .col-1 img {
        width: 70% !important;
    }
    // start contact
    .contact-content {
        display: block;
    }
    //end contact


    //menu tren dth
    .header__sort-bar {
        display: flex;
    }
}

//tablet

@media only screen and (max-width: 1200px) {

    //header
    .header {
        justify-content: space-between;
    }
    .cotainer-menu {
        display: none;
    }
    .navigation-bar {
        width: 30px;
        margin: 20px 40px 0 0;
        display: block !important;
    }
    .navigation-bar img {
        width: 100%;
    }
    //end header

    .container-cate {
        height: 100px;
    }


    //danh muc san pham
    .text-big {
        font-size: 12px;
        color: #3d155e;
    }

    .text-big p {
        margin-bottom: 14px;
    }

    //end danh muc san pham


    //danh sach san pham

    .cate {
        font-size: 22px;
    }

    .cate ul {
        margin-bottom: 10px;
        // padding-left: 10px;
    }

    .cate-item a {
        text-decoration: none;
        color: $text-color;
        font-weight: bold;
        transition: color 0.3s;
        font-size: 12px;
        padding: 0px;
        margin-bottom: 10px;

    }

    //end danh sach san pham

    //danh muc cafee

    .type-item {
        font-size: 20px;
        color: #3d155e;
        text-align: center;
        margin-left: 12px;
    }

    .type-item p {
        font-size: 14px;
    }

    //end danh muc cafee



    //start card item
    .card-container {
        width: 100%;
        grid-template-columns: none;
    }
    .card-img img {
        height: 200px;
    }
    //end card item


}

@media screen and (max-width: 564px) {
    .footer-container .row-1 {
        grid-template-columns: 1fr 1fr;
        row-gap: 40px;
    }
    .footer-container .row-1 p {
        font-size: 18px !important;
    }
    .footer-container .row-1 .col-1 p ul li a {
        font-size: 14px !important;
    }
}

@media screen and (max-width: 425px) {
    .footer-container .row-1 {
        grid-template-columns: 1fr;
    }
    .footer-container .row-1 p {
        font-size: 28px !important;
    }
    .footer-container .row-1 .col-1 p ul li a {
        font-size: 18px !important;
    }
}