<div class="mt-4">
    <h3 class="text-big display-center">Tạo Món</h3>
      <form id="createMenu" method="POST" action="/admin/menu/store">
            <div class="form-group">
                <label class="text mt-4 " for="name">Name</label>
                <input type="text" class="form-control" id="productName" name="name" placeholder="Enter product name">
            </div>
            <div class="form-group">
                <label class="text mt-4" for="price">Price</label>
                <input type="text" class="form-control" id="productPrice" name="price" placeholder="Enter product price">
            </div>
            <div class="form-group">
                <label class="text mt-4" for="img">Image</label>
                <input type="text" class="form-control" id="productImg" name="img" placeholder="Enter product Img">
            </div>
            <div class="form-group">
                <label class="text mt-4" for="type">Type</label>
                <input type="text" class="form-control" id="productType" name="type" placeholder="Enter product Type">
            </div>
            
            <button type="submit" class="btn btn-primary backgound-color mt-4 text-color">Thêm Món</button>
        </form>
</div>
