.text-color {
  color: #3d155e; }

.backgound-color {
  background-color: #df6788; }

.text {
  color: #3d155e;
  font-size: 20px; }

.text-big {
  color: #3d155e;
  font-size: 30px; }

.text-v {
  color: #3d155e;
  font-size: 25px; }

.text-sm {
  color: #3d155e;
  font-size: 14px; }

.display-center {
  display: flex;
  justify-content: center;
  text-align: center; }

@media only screen and (max-width: 768px) {
  .container-slide__img img {
    display: block;
    width: 100%;
    height: 200px;
    border-radius: 10px; }
  .cate-item::after {
    display: none; }
  .container-cate {
    height: 100px; }
  .text-big {
    font-size: 12px;
    color: #3d155e; }
  .text-big p {
    margin-bottom: 14px; }
  .cate {
    font-size: 22px; }
  .cate ul {
    margin-bottom: 10px;
    padding-left: 10px; }
  .cate-item a {
    text-decoration: none;
    color: #3d155e;
    font-weight: bold;
    transition: color 0.3s;
    font-size: 12px;
    padding: 0px;
    margin-bottom: 10px; }
  .type-item {
    font-size: 20px;
    color: #3d155e;
    text-align: center;
    margin-left: 12px; }
  .type-item p {
    font-size: 14px; }
  .card-container {
    display: flex;
    width: 120px;
    height: 200px;
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    background-color: #df6788;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 5px; }
  .card-img {
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
  .card-img img {
    width: 115px;
    height: 79px;
    display: flex;
    align-items: center;
    justify-content: center; }
  .card-text {
    padding: 5px 10px; } }

@media only screen and (max-width: 1197px) {
  .container-cate {
    height: 100px; }
  .text-big {
    font-size: 12px;
    color: #3d155e; }
  .text-big p {
    margin-bottom: 14px; }
  .cate {
    font-size: 22px; }
  .cate ul {
    margin-bottom: 10px;
    padding-left: 10px; }
  .cate-item a {
    text-decoration: none;
    color: #3d155e;
    font-weight: bold;
    transition: color 0.3s;
    font-size: 12px;
    padding: 0px;
    margin-bottom: 10px; }
  .type-item {
    font-size: 20px;
    color: #3d155e;
    text-align: center;
    margin-left: 12px; }
  .type-item p {
    font-size: 14px; }
  .card-container {
    display: flex;
    width: 120px;
    height: 200px;
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    background-color: #df6788;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 5px; }
  .card-img {
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
  .card-img img {
    width: 115px;
    height: 79px;
    display: flex;
    align-items: center;
    justify-content: center; }
  .card-text {
    padding: 5px 10px; }
  .cate-item::after {
    content: "";
    border-top: 1px solid #df6788;
    position: absolute;
    top: 30px;
    left: -10px;
    right: 83px; } }
