.modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 100%;
  width: 30%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translateX(-100%);
  transition: transform 0.5s; }

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  height: 100%;
  overflow-y: auto; }

.footer__modal {
  display: flex;
  margin-top: 10px; }

.footer__modal-btn {
  font-size: 24px;
  width: 30px; }

.footer__modal-btn--submit {
  flex: 1;
  margin-left: 40px; }

.modal.active {
  display: block;
  transform: translateX(-100%); }

.close {
  color: #aaa;
  float: left;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer; }

.close:hover,
.close:focus {
  color: black;
  text-decoration: none; }

.quantity-control {
  display: flex;
  align-items: center; }

.quantity-control button {
  background-color: #ddd;
  border: none;
  padding: 10px;
  cursor: pointer; }

.quantity-control input {
  text-align: center;
  width: 60px;
  margin: 0 5px; }
