{{!-- <header>
  <div class="header">
    <div class="logo me-4">
      <a href="/">
        <img src="http://localhost:8000/img/log1.png" alt="logo" class="img-logo">
      </a>
    </div>
    <div class="cotainer-menu">
      <div>
        <ul class="nav">
          <li class="nav-item ms-5 me-5">
            <a class="nav-link text " aria-current="page" href="/menu/" ><i class="fa-solid fa-house"></i> Thực đơn</a>
          </li>
        </ul>
      </div>
      <div class="nav container-user">
        <div class="container-user__cart">
          <i class="fa-solid fa-cart-shopping"></i>
        </div>
         <div style="display: flex;" class="container-user__acount">
            <a class="nav-link text " href="#"><img src="http://localhost:8000/img/avatar.jpg" alt="" class="user-avatar">Thanh Hậu</a>
            <div class="container-user--logout">
                <a href="/logout">
                  <i class="fa-solid fa-arrow-right-from-bracket"></i>
                </a>
            </div>
         </div>
      </div>
     
  </div>
</header>
 --}}
<header>
  <div class="header">
    <div class="logo me-4">
      <a href="/">
        <img src="http://localhost:8000/img/log1.png" alt="logo" class="img-logo">
      </a>
    </div>
    <div class="cotainer-menu">
      <div>
        <ul class="nav">
          <li class="nav-item ms-5 me-5">
            <a class="nav-link text " aria-current="page" href="/menu/" ><i class="fa-solid fa-house"></i> Thực đơn</a>
          </li>
        </ul>
      </div>
      <div class="nav container-user">
        <div class="container-user__cart">
          <i class="fa-solid fa-cart-shopping" id="cartIcon"></i>
          <div id="cartItemsContainer" style="display: none;">
            <!-- Sản phẩm trong giỏ hàng sẽ được load vào đây -->
          </div>
        </div>
         <div style="display: flex;" class="container-user__acount">
            <a class="nav-link text " href="#"><img src="http://localhost:8000/img/avatar.jpg" alt="" class="user-avatar">Thanh Hậu</a>
            <div class="container-user--logout">
                <a href="/logout">
                  <i class="fa-solid fa-arrow-right-from-bracket"></i>
                </a>
            </div>
         </div>
      </div>
    </div>
  </div>
</header>
