<header>
  <div class="header">
    <div class="logo me-4">
      <a href="/">
        <img src="http://localhost:8000/img/log1.png" alt="logo" class="img-logo">
      </a>
    </div>
    <div class="cotainer-menu">
      <div>
        <ul class="nav">
          <li class="nav-item ms-5 me-5">
            <a class="nav-link text " aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item nav-item-menu ms-5 me-5">
              <a class="nav-link text " href="/">Menu</a>
            <div class="nav-item-icon">
              <i class="fa-solid fa-chevron-down"></i>
            </div>
            <ul class="nav-menu">
              <li class="nav-menu-item">
                <i class="fa-solid fa-cloud-arrow-up"></i>
                <a href="/me/stored/menu">Đã đăng</a>
              </li>
              <li class="nav-menu-item">
                <i class="fa-solid fa-plus"></i>
                <a href="/Menu">Thêm</a>
              </li>
              <li class="nav-menu-item">
                <i class="fa-solid fa-eraser"></i>
                <a href="/me/stored/menu">Xóa</a>
              </li>
              <li class="nav-menu-item">
                <i class="fa-solid fa-wrench"></i>
                <a href="/me/stored/menu">Sửa</a>
              </li> 
            </ul>
          </li>
          <li class="nav-item ms-5 me-5">
            <a class="nav-link text " href="/staff">Staff</a>
          </li>
          <li class="nav-item ms-5 me-5">
            <a class="nav-link text " href="/ingredient">Ingredient</a>
          </li>
        </ul>
      </div>
      <div>

      </div>
      <div class="nav container-user">
         <a class="nav-link text " href="#"><img src="http://localhost:8000/img/avatar.jpg" alt="" class="user-avatar">Thanh Hậu</a>
          <div class="container-user--logout">
              <a href="/logout">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
              </a>
          </div>
      </div>
     
  </div>
</header>

