<div class="mt-4">
    <form method="post">
        <div class="mb-3">
            <dic for="search-input" class="form-label">Nhap tu khoa</div>
            <input type="text" name="q" class="form-control" id="search-input">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>