<div class="mt-4">
    <h3 class="text-big display-center">Tạo Món</h3>
      <form  method="POST" action="/staff/store">
            <div class="form-group">
                <label class="text mt-4 " for="name">Name</label>
                <input type="text" class="form-control" id="staffName" name="name" placeholder="Enter name of staff">
            </div>
            <div class="form-group">
                <label class="text mt-4" for="price">Email</label>
                <input type="text" class="form-control" id="staffPrice" name="email" placeholder="Enter email of staff">
            </div>
            <div class="form-group">
                <label class="text mt-4" for="img">Image</label>
                <input type="text" class="form-control" id="staffImg" name="img" placeholder="Enter img of staff">
            </div>
            <div class="form-group">
                <label class="text mt-4" for="type">Phone number</label>
                <input type="text" class="form-control" id="staffPhoneNumber" name="numberPhone" placeholder="Enter phone number of staff">
            </div>
            <div class="form-group">
                <label class="text mt-4" for="type">Birthday</label>
                <input type="date" class="form-control form-control-date  " id="staffBirthday" name="birthday" placeholder="Enter birthday of staff">
            </div>
            <div class="form-group">
                <label class="text mt-4" for="type">Sex</label>
                <input type="text" class="form-control" id="staffSex" name="sex" placeholder="Enter phone sex of staff">
            </div>
             <div class="form-group">
                <label class="text mt-4" for="type">Address</label>
                <input type="text" class="form-control" id="staffSex" name="address" placeholder="Enter phone sex of staff">
            </div>
            <button type="submit" class="btn btn-primary backgound-color mt-4 text-color">Thêm Nhân Viên</button>
        </form>
</div>